*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
#mp3btn{
    position: absolute;
    z-index: 100;
    right: 5%;
    top: 3%;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background-color: #06060661;
    text-align: center;
    line-height: 4;
    border:2px black solid;
    animation: myfirst 3s infinite linear;
}
#mp3btn img{
    width: 30px;
    height: 30px;
}
@keyframes myfirst{
    0%{transform:rotateZ(0deg)}
    100%{transform: rotateZ(360deg)}
}
.swing{
    transform-origin: center;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    position: absolute;
    top:auto;
    bottom:5%;
    left:auto;
    right: 47%;
    transform:rotateZ(-90deg);
}
.s1{
    background: url("../img/bj.png");
    height: 100%;
}
.s1 .header img{
    position: absolute;
}
.s1 .header img:nth-of-type(1){
    width: 35px;
    top: 125px;
    left: 50px;
    animation-iteration-count: infinite;
}
.s1 .header img:nth-of-type(2){
    width: 65px;
    top: 90px;
    right: 40px;
    animation-iteration-count: infinite;
}
.s1 .header img:nth-of-type(3){
    width: 55px;
    bottom: 185px;
    left: 35px;
    animation-iteration-count: infinite;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    right: 50px;
    bottom: 210px;
    animation-iteration-count: infinite;
}
.s1 .header img:nth-of-type(5){
    width: 60%;
    right: 20%;
    top: 25%;
    animation-iteration-count: infinite;
 }

.s1 .main{
    position: absolute;
    top:32%;
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width: 80%;
    margin-bottom: 21px;
}
.s1 .main .text{
    color: #ffffff;
    background:url("../img/9.png");
    background-size: cover;
    width: 60%;
    top: 357px;
    margin-left: 83px;
    font-family: cursive;
    font-weight: bold;
    line-height: 26px;
}
.footer{
    
    padding-top: 125%;
}
.footer h2{
    color: #25cab4;
    top:50px；
}
.footer p{
    color:#25cab4;
    font-weight: bold;
}
.footer img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    animation-iteration-count: infinite;
}

.footer img:nth-of-type(2){
    left: -12%;
}
.s2{
    background: url("../img/bj.png");
    height: 100%;
}
.s2 h2{
    padding-top: 70px;
    color: #01f6cb; 
}
.s2 h2::before{
    background: url(../img/left.png);
    background-size: 100% 100%;
    content: "";
    width: 80px;
    height: 39px;
    display: inline-block;
    position: absolute;
    top:68px;
    left: 54px
}
.s2 h2::after{
    background: url(../img/right.png);
    background-size: 100% 100%;
    content: ""; 
    width: 80px;
    height: 39px;
    display: inline-block;  /*行内块级元素*/
    position: absolute;
}
.s2 h5{
    color: #7ce0cf;
    letter-spacing: 4px;
    font-size: 5px;
}
.s2 .s2bg{
    background: url(../img/zhong.png);
    background-size: 100% 100%;
    width: 80%;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}
.s2 .s2bg .dw1, .dw2, .dw3{
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    color: #01f6cb;
    
}
.s2 .dw3{
    padding-bottom: 20px;
}
.s2 span{
    background: url(../img/9.png);
    background-size: 100% 100%;
    width: 174px;
    display: block;
    color: #07001c;
    font-weight: bold;
    font-family: cursive;
    line-height: 27px;
    position: absolute;
    top: 500px;
    left: 95px;
}
.s2 .footer{
    animation-iteration-count: infinite;
}
.s3 {
    background: url(../img/bj.png);
    height: 100%;
} 
.s3 h2{
    color: #0bf3c9;
    padding-top: 70px;
}
.s3 h2::before{
    background: url(../img/left.png);
    background-size: 100% 100%;
    content: "";
    width: 80px;
    height: 39px;
    display: inline-block;
    position: absolute;
    top:68px;
    left: 54px
} 
.s3 h2::after{
    background: url(../img/right.png);
    background-size: 100% 100%;
    content: ""; 
    width: 80px;
    height: 39px;
    display: inline-block;  /*行内块级元素*/
    position: absolute;
}
.s3 h5{
    color: #7ce0cf;
    letter-spacing: 4px;
    font-size: 5px;
}
.s3 .container .tu1,.tu2,.tu3,.tu4,.tu5,.tu6{
    background: url(../img/xiao.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    line-height: 56px;
    color: #7ce0cf;
    
}
.s3 .container .tu1{
    position: absolute;
    top: 170px;
    left: 90px;
}
.s3 .container .tu2{
    position: absolute;
    top: 170px;
    right: 90px;
}
.s3 .container .tu3{
    position: absolute;
    top: 290px;
    right: 20px;
}
.s3 .container .tu4{
    position: absolute;
    top: 410px;
    right: 90px;
}
.s3 .container .tu5{
    position: absolute;
    top: 410px;
    left: 90px;
}
.s3 .container .tu6{
    position: absolute;
    top: 290px;
    left: 20px;
}
.s3 .container .tu7{
    background: url(../img/da.png);
    background-size: cover;
    width: 135px;
    height: 135px;
    position: absolute;
    top: 255px;
    left: 140px;
    color: #7ce0cf;
    line-height: 125px;
}
.s3 .container ul{
    color: #7ce0cf;
    position: absolute;
    border-left: solid 3px  #7ce0cf;
    text-indent:20px;
    letter-spacing: 3px;
    top: 500px;
    left: 45px;
    list-style: none;
}
.s3 .footer{
    animation-iteration-count: infinite;
}
.s4 .container .nian1 span{
    background: url(../img/dian.png);
    width: 30px;
    height: 30px;
    background-size:100% 100%;
    display: inline-block;
}

.s4 .container .nian2 span{
    background: url(../img/dian.png);
    width: 30px;
    height: 30px;
    background-size:100% 100%;
    display: inline-block;
}