html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    position: absolute;
    top:auto;
    bottom:5%;
    left:auto;
    right: 47%;
    transform:rotateZ(-90deg);
}
.s1{
    background: url("../img/bj.png");
    height: 100%;
}
.s1 .header img{
    position: absolute;
}
.s1 .header img:nth-of-type(1){
    width: 35px;
    top: 125px;
    left: 50px;
}
.s1 .header img:nth-of-type(2){
    width: 65px;
    top: 90px;
    right: 40px;
}
.s1 .header img:nth-of-type(3){
    width: 55px;
    bottom: 185px;
    left: 35px;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    right: 50px;
    bottom: 210px;
}
.s1 .header img:nth-of-type(5){
    width: 60%;
    right: 20%;
    top: 25%;
 }

.s1 .main{
    position: absolute;
    top:32%;
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width: 80%;
    margin-bottom: 21px;
}
.s1 .main .text{
    color: #ffffff;
    background:url("../img/9.png");
    background-size: cover;
    width: 56%;
    top: 357px;
    margin-left: 83px;
    font-family: cursive;
    font-weight: bold;
    line-height: 26px;
}
.footer{
    
    padding-top: 125%;
}
.footer h2{
    color: red;
    top:50px
}
.footer p{
    color:#01b7a0;
    font-weight: bold;
}
.footer img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer img:nth-of-type(2){
    left: -12%;
}